[submodule "externals/mongodb"]
	path = externals/mongodb
	url = git://github.com/nodecast/mongodb.git
[submodule "externals/libqxt"]
	path = externals/libqxt
	url = git://github.com/nodecast/libqxt.git
[submodule "externals/zeromq"]
	path = externals/zeromq
	url = git://github.com/nodecast/zeromq.git
[submodule "externals/cppzmq"]
	path = externals/cppzmq
	url = git://github.com/zeromq/cppzmq.git
